<div class="left_component">
  <div>
    <div class="title">Hi, EAC</div>
    <div class="bio">E-business studunet at Higher School of digital economy of Manouba</div>
    <div class="body_icons">
      <div class="icons">
        <div class="all">
          <i class="bi bi-people" style="color: #1C31C2;"></i>
          <a href="profile.html"><span>Profile</span></a>
          
        </div>
        <div class="all">
          <i class="bi bi-calendar-event" style="color: #1C31C2;"></i>
          <a href="calendar.html"><span>Calendar</span></a>
        </div>
        <div class="all">
          <i class="bi bi-file-earmark-text" style="color: #1C31C2;"></i>
          <a href="document.html"><span>Document</span></a>
        </div>
        <div class="all">
          <i class="bi bi-files-alt" style="color: #1C31C2;"></i>
          <a href="form.html"><span>Gestion Form</span></a>
        </div>
        <div class="all">
          <i class="bi bi-newspaper" style="color: #1C31C2;"></i>
          <a href="news.html"><span>Actualité</span></a>
        </div>
        <div class="all">
          <i class="bi bi-bar-chart" style="color: #1C31C2;"></i>
          <a href="stats.html"><span>Statistics</span></a>
        </div>
        <div class="all">
          <i class="bi bi-gear" style="color: #1C31C2;"></i>
          <a href="settings.html"><span>Settings</span></a>
        </div>
      </div>
    </div>
    <div class="univer_logo">
      <img class="img" src="assets/esen.jpeg" alt="Edit" />
    </div>
  </div>
</div>
