@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.container {
  width: 100%;
  height: 1200px; 
  background-color: rgba(90, 84, 255, 0.08);
  border: 4px solid #219750;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 20px;
  padding: 50px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5px;
  position: relative;
}

form::before {
  content: '';
  position: absolute;
  left: -2px;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #3D3D3D;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid #3D3D3D;

  &:last-child {
    border-bottom: none;
  }
}

label {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 32.81px;
  color: #3D3D3D;
  margin-left: 8px;
  padding-left: 10px;
}

input,
textarea,
select,
button {
  margin-left: 8px;
}

input,
textarea,
select {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.13px;
  color: #3D3D3D;
  background-color: transparent;
  border: none;
  width: 60%;
  padding: 5px 10px;
  margin-top: 5px;
}

button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.13px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button[type="submit"] {
  width: 137px;
  height: 57px;
  margin-top: 20px;
  background-color: #1C31C2;
  border-radius: 70px;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken(#1C31C2, 10%);
  }
}

.edit-img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

i {
  color:black;
  align-items: end;
  
  
}
