<nav>
  <div class="logo">
    <a ><img src="assets/logo.png" alt="Pikoro"/></a>
  </div>

  <ul class="nav-links">
    <li><a >Home</a></li>
    <li><a >How it works</a></li>
    <li><a >Events</a></li>
    <li><a >Blog</a></li>
    <li><a >Partenership</a></li>
    <li><a >Get in touch</a></li>
    <li><div class="slim-header-right"></div></li>
    <li >
     
    </li>
    <li ><a href="">
        <img  src="assets/log.png"style="
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: auto;
            border: 2px solid #03c1ad;
            display: inline;
          "
          alt=""
      /></a>
      <a
        
        class="nav-link"
        style="
          font-weight: bold;
          display: inline;
          color: #03c1ad;
          margin-left: 0px;
          margin-bottom: 10px;
        "
        
      >
        <i class="ion-md-power"></i>
        &nbsp;Logout
      </a>
    </li>
  </ul>
</nav>





<input type="checkbox" id="active">
<label for="active" class="menu-btn"><span></span></label>
<label for="active" class="close"></label>
<div class="wrapper">
  <ul>
    <li >
      <img class="log-in-logo" style="width: 30px; height: 30px" src="assets/log.png"/>
      <a class="log-in-logo" style=" font-weight: bold; color: #03c1ad; margin-left: 0px; margin-bottom: 10px;" >Log in</a>
    </li>
    <li ><a href="">
        <img  src="assets/log.png"style="
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: auto;
            border: 2px solid #03c1ad;
            display: inline;
          "
          alt=""
      /></a>
      <a
      routerLink="/home/login"
        class="nav-link"
        style="
          font-weight: bold;
          display: inline;
          color: #03c1ad;
          margin-left: 0px;
          margin-bottom: 10px;
        "
       
      >
        <i class="ion-md-power"></i>
        &nbsp;Logout
      </a>
    </li>
    <li><a >Home</a></li>
    <li><a >How it works</a></li>
    <li><a >Events</a></li>
    <li><a >Blog</a></li>
    <li><a >Partenership</a></li>
    <li><a >Get in touch</a></li>
    <li><div class="slim-header-right"></div></li>
</ul>
</div>