.class_component{
 
    .title{
        span{
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 32px;
            display: flex;
            align-items: center;
            letter-spacing: -0.02em;
            color: #2B3674;
        }
    }
}