<div class="score_component">
    <div class="first_part">
        <div class="title">Top Score</div>
        <button class="btn">See all </button>
    </div>
    <div class="second_part">
        <table class="tab">
            <tr>
              <th class="th">Name</th>
              <th class="th">Profile code</th>
              <th class="th">score</th>
            </tr>
            <tr>
              <td class="td">club name </td>
              <td class="th">9821</td>
              <td class="th">9821</td>
            </tr>
            <tr>
              <td class="td">16</td>
              <td class="th">14</td>
              <td class="th">10</td>
            </tr>
        
          </table>
    </div>
</div>
