.score_component{
    height: 640px;
    width: 100%;
    max-width: 100%;
    border-radius: 20px;
    background:white; 
    box-shadow: 16px -2px 58px 36px rgba(112, 144, 176, 0.12);
    position: relative; 
    .first_part{
        display: flex;
        padding-top: 30px;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
        .title{
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            color: #1B2559;
           

        }
        .btn{
            background: #F4F7FE;
            border-radius: 70px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #0D77BD;
            width: 78px;
            height: 32px;
            justify-content: center;
            display: flex;
            align-items: center;
            
        }
        
    }
    .second_part{
        padding-top: 50px;
        padding-left: 15px;
        .tab{
            width: 100%;
            .th{
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                color: #A3AED0;
                //box-shadow: 0px 40px 0px -20px rgba(112, 144, 176, 0.12);

            }
            .td{
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                color: #2B3674;
            }
           
        }

    }
}