.right-component{
    width: 100%;
    height: 852px;
    border-radius: 20px;
    padding-top: 20px;
    margin-top: 44px;
    background-color:white;
    box-shadow: 16px -2px 58px 36px rgba(112, 144, 176, 0.12);
    .first-part{
        margin-bottom: 50px;
        display: flex;
        gap: 5rem;
        align-items: center;
        justify-content: center;
        .title{
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            font-family: 'DM Sans';
            color: #1b2559;
            padding-left: 10px;
           

        }
        .btn{
            color:#0d77bd ;
            background-color: #f4f7fe;
            border-radius: 70px;
            width:78px ;
            height: 32px;
            align-items: center;
            justify-content: center;
            display: flex;
         
        }
    }
    .first{
        background-color: white;
        box-shadow: 0px 18px 40px rgba(112, 144, 176, 0.12);
        border-radius: 20px;
        display: flex;
        margin: 31px;
      
        img{
            width: 83px;
           // border: 1px solid black ;
            border-radius: 20%;
    }
    .text{
        padding-left: 10px;
    }

}}