<div class="right-component">
    <div class="first-part">
        <div class="title">Clubs you may like </div>
        <button class="btn">see all </button>

    </div>
    <div class="first">
        <img src="assets/logo03.png" alt="">

        <div class=" text">
            <div class="clubname">Microsoft ISIMa Club</div>
            <div class="description">your potential our passion </div>
        </div>
        
    </div>
    <div class="first">
        <img src="assets/cs.png" alt="">

        <div class=" text">
            <div class="clubname">IEEE Computer Chapter ISIMa Student Branch</div>
            <div>Hello Wolrd</div>
        </div>
        
    </div>
    <div class="first">
        <img src="assets/ieee.jpg" alt="">

        <div class=" text">
            <div class="clubname">IEEE ISIMa Student Branch</div>
            <div>Hello World</div>
        </div>
        
    </div>
    <div class="first">
        <img src="assets/devops.jpg" alt="">

        <div class=" text">
            <div class="clubname">Devops ISIMa Club</div>
            <div>Hello World</div>
        </div>
        
    </div>
    <div class="first">
        <img src="assets/ras.jpg" alt="">

        <div class=" text">
            <div class="clubname">IEEE Robotics & Automation Society ISIMa Studdent Branch </div>
            <div>Hello World</div>
        </div>
        
    </div>
    <div class="first">
        <img src="assets/wie.png" alt="">

        <div class=" text">
            <div class="clubname">IEEE Women in Engineering ISIMa Studdent Branch </div>
            <div>Hello World</div>
        </div>
        
    </div>
 
 

</div>
