.container-fluid{
  background: rgba(90, 84, 255, 0.08);
  padding: 5%;
}
.post-input {
    background-color: #ffffff;
    width: 100%;
    max-width: 520px;
    height: 120px;
    border: 1px solid #ccd0d5;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    
    margin: auto;
    .input-container {
      display: flex;
      gap: 1rem;
      align-items: center;
      position: relative;
      
  
      &::after {
        content: '';
        position: absolute;
        left: 50px;
        bottom: -1rem;
        width: 90%;
        height: 1px;
        background-color: #5A54FF;
      }
    }
  
    .logo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
    }
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    .post-textarea {
      resize: none;
      border: none;
      background-color: transparent;
      padding: 0;
      outline: none;
      width: 100%;
      flex: 1; // add flex-grow property
    }
  
    .post-actions {
      display: flex;
      justify-content: space-between;
      padding: 1rem 0;

     
      button {
        background-color: transparent;
        border: none;
        color: #4b4c4f;
        font-weight: 500;
        cursor: pointer;
  
        &:hover {
          text-decoration: underline;
        }
      }
  
      .left-action {
        padding-left: 9rem;
        
          }
      .right-action {
        padding-right: 9rem;
      }
    }
  }
  
  
  .post-display {
    padding-top: 2rem;
    width: 100%;
    max-width: 520px;
    margin: 0 auto;
    .post {
      background-color: #ffffff;
      border: 1px solid #ccd0d5;
      border-radius: 15px;
      padding: 1rem;
      margin-bottom: 2rem;
  
      .post-header {
        display: flex;
        gap: 1rem;
        align-items: center;
        .post-options {
            position: relative;
            
          
            .ellipsis {
              cursor: pointer;
            }
          
            .post-options-dropdown {
              display: none;
              position: absolute;
              top: 25px;
              right: 0;
              flex-direction: column;
              background-color: white;
              border: 1px solid rgba(0, 0, 0, 0.1);
              border-radius: 3px;
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
              z-index: 100;
          
              button {
                padding: 5px 10px;
                background-color: white;
                border: none;
                cursor: pointer;
                font-size: 14px;
              }
          
              button:hover {
                background-color: #f5f5f5;
              }
            }
          
            .show-dropdown {
              display: flex;
            }
          }
          
  
        .user-logo {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          overflow: hidden;
        }
        img {
            
            width: 100%;
            height: 100%;
            object-fit: cover;

          
          }
  
        .user-info {
          
  
          .username {
            font-weight: 600;
            color: #4b4c4f;
            
          }
  
          .post-time {
            font-size: 0.9rem;
            color: #65676b;
          }
        }    
      }
  
      .post-content {
        margin-top: 1rem;
        img {
            border-radius: 5%;
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        video{
            border-radius: 5%;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
      }
  
      .post-actions {
        display: flex;
       justify-content: center;
        gap: 4rem;
        margin-top: 1rem;
        button {
          background-color: transparent;
          border: none;
          color: #65676b;
          font-weight: 500;
          
          cursor: pointer;
  
          &:hover {
            background-color: rgba(29, 33, 41, 0.05);
          }
        }
      }
  
      .post-comment {
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-top: 1rem;
  
        .comment-logo {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          overflow: hidden;
        }
        img {
            width: 100%; 
            height: auto;
            max-height: 300px;
            object-fit: cover;
          }
         
        .comment-textarea {
          resize: none;
          border: 1px solid #ccd0d5;
          border-radius: 18px;
          padding: 0.5rem 1rem;
          width: 100%;
        }
        .commenter{
            border: none;
        background: none;
        }
      }
      .comment {
        display: flex;
        gap: 1rem;
        align-items: flex-start;
        margin-bottom: 1rem;
        padding-top: 5px;

      
        .comment-logo {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
        }
      
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      
        .comment-text {
          font-size: 0.9rem;
          line-height: 1.3;
          background-color: #f0f2f5;
          border-radius: 18px;
          padding: 0.5rem 1rem;
          max-width: 80%;
          word-break: break-word;
        }
        .comment-options {
            position: relative;
            margin-left: auto;
            cursor: pointer;
          
            .ellipsis {
              font-size: 1rem;
            }
          
            .options {
              position: absolute;
              right: 0;
              background-color: #ffffff;
              border: 1px solid #ccd0d5;
              border-radius: 5px;
              padding: 0.5rem;
              display: flex;
              flex-direction: column;
          
              button {
                background-color: transparent;
                border: none;
                color: #65676b;
                font-weight: 500;
                padding: 0.25rem 0;
                cursor: pointer;
                text-align: left;
                width: 100%;
          
                &:hover {
                  background-color: rgba(29, 33, 41, 0.05);
                }
              }
            }
          }
      }
      .more{
        border: none;
        text-align: center;
       button{
        border: none;
        background: none;
       }
    
      }
    }
  }

  @media (max-width: 767px) {
    .post-input {
      height: 120px;
      padding: 1rem;
    }
  }
  
  @media (max-width: 575px) {
    .post-input {
      padding: 0.5rem;
     
    }
    
    
  }
  .custom-modal-position .modal-dialog {
    position: fixed;
    top: 50%;
    right: 38%;
    transform: translateY(-50%);
    
    
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .modal-body{
    .uploaded-image-preview {
        width: 100%; // or any fixed width you prefer, e.g., 200px
        height: auto;
        max-height: 300px; // or any fixed height you prefer, e.g., 150px
        object-fit: cover;
      }
      .uploaded-video-preview{
        width: 100%; // or any fixed width you prefer, e.g., 200px
        height: auto;
        max-height: 300px; // or any fixed height you prefer, e.g., 150px
        object-fit: cover;

      }
  }