.cover_component {
  
  .cover{
    
       
    .img_cover {
    
        width: 100%;
        max-width: 100%;
        border-radius: 10px;
        align-items: center;
        padding-top: 100px;
      
    }

    
    .profile {
      margin-top: -60px; 
       
       .img_profile{
        
        img{
            width: 20%;
            margin: 0 auto;
      display: flex;
        }
       }
     
      
      .user_name{
        
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 42px;
            color: #3D3D3D;
           text-align: center;
           padding-top: 10px;
      }
      .nav-list{
            list-style-type: none;
            display: flex;
            padding-top: 10px;
           text-align: center;
            
            
              .nav-item {
                margin: 0 auto; /* Add margin between navbar items */
                }
                
            .nav-item a {
                
                text-decoration: none;
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 22px;
                line-height: 42px;
                color: #3D3D3D;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* Remove underline from links */
                 }
            .nav-item a:hover {
                 color:  #5A54FF;
; 
  }
  
      }
    }
  }
}