<div class="cover_component">
    <div class="cover">

    
        <img src="assets/cover.png" class="img_cover">
     
    
    <div class="profile">
        <div class="img_profile">
            <img src="assets/logo_fin.png" alt="">
        </div>
        <div class="user_name">Esen Android Club</div>
        <ul class="nav-list">
            <li class="nav-item"><a routerLink="/posts">Posts</a></li>
            <li class="nav-item"><a routerLink="/users">About Us</a></li>
            <li class="nav-item"><a href="#">Events</a></li>
            <li class="nav-item"><a href="#">Rating</a></li>
            
          </ul>
          <div class="rating"></div>

    </div>
</div>
</div>
